body {
  background-color: #5F9EA0;
}

#main {
  width: 70%;
  margin: auto;
  display: block;
}

#divmoney {
  float: left;
}

#divbet{
  float: right;
}

#dealerCards li, #yourCards li{
  list-style-type: none;
  display: inline;
}

#footer {
  margin-top: 150px;
  text-align: center;
  clear: both;
}
